@media (min-width: 540px) {
	.container {
		width: 500px;
	}

	.contact-body {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.email-form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.socials {
		margin-top: -100px;
	}

	.inner-footer {
		justify-content: space-between;
	}
}

@media (min-width: 750px) {
	.container {
		width: 720px;
	}

	.inner-header {
		flex-direction: row;
		align-items: center;
	}

	.hamburguer {
		display: none;
	}

	.navbar {
		margin-top: 0;
		display: inline-block;
	}

	.navbar ul {
		display: flex;
		justify-content: space-between;
		width: 300px;
	}

	.head {
		background-position: 0 -130px;
	}

	.inner-cta {
		align-items: flex-start;
	}

	.cta-msg {
		text-align: left;
	}

	.about-body {
		display: flex;
		justify-content: space-around;
		align-items: center;

		text-align: left;
	}

	.description {
		width: 300px;
		margin-top: -40px;
	}

	.subject,
	.email-text {
		width: 450px;
	}
}

@media (min-width: 1000px) {
	.container {
		width: 1000px;
	}

	h2 {
		font-size: 32px;
	}

	.mg-1 {
		margin-bottom: 1rem;
	}

	.mg-2 {
		margin-bottom: 2rem;
	}

	.mg-3 {
		margin-bottom: 2.5rem;
	}

	p,
	.subject,
	.email-text {
		font-size: 20px;
	}

	.cta .contact-btn,
	.navbar a,
	.send-btn,
	.socials {
		font-size: 24px;
	}

	.inner-header .logo {
		width: 200px;
	}

	.navbar ul {
		width: 500px;
	}

	.cta {
		height: 730px;
	}

	.cta .cta-msg {
		width: 330px;
		margin-top: 170px;
		font-size: 3rem;
	}

	.head {
		background-position: 0 -250px;
		background-size: 2000px;
	}

	.about {
		padding-top: 2.5rem;
	}

	.portrait-img {
		height: 350px;
	}

	.description {
		width: 400px;
	}

	.card img {
		width: 80px;
	}

	.brand {
		width: 200px;
	}

	.brand-logo {
		width: 50px;
	}
}
